# 1.Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# 2. Reading the dataset

In [2]:
df = pd.read_csv(r"C:\Users\Hp\Desktop\Intership\Logistics\SCMS_Delivery_History_Dataset.csv\SCMS_Delivery_History_Dataset.csv")
data = df.copy()

In [3]:
df.columns

Index(['ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #', 'Country',
       'Managed By', 'Fulfill Via', 'Vendor INCO Term', 'Shipment Mode',
       'PQ First Sent to Client Date', 'PO Sent to Vendor Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

# 3. Removing unwanted columns

In [4]:
df.drop(columns=['Project Code','PQ #','PO / SO #','Managed By','PQ First Sent to Client Date','Delivered to Client Date',
                 'PO Sent to Vendor Date','Vendor INCO Term','Fulfill Via','Vendor','Sub Classification',
                 'Scheduled Delivery Date', 'Delivery Recorded Date','Product Group',
                 'Molecule/Test Type','Dosage Form','Delivered to Client Date','PO Sent to Vendor Date'],inplace=True)

In [5]:
# , ,, ,'Dosage'

In [6]:
df.columns

Index(['ID', 'ASN/DN #', 'Country', 'Shipment Mode', 'Item Description',
       'Brand', 'Dosage', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [7]:
# Renaming for convenience 
df.rename(columns={
    'Fulfill Via' : 'fulfill_Via',
    'Vendor INCO Term' : 'vendor_INCO_Term',
    'Shipment Mode' : 'shipment_Mode',
    'Item Description' : 'item_description',
    'Sub Classification' : 'sub_Classification',
    'Unit of Measure (Per Pack)' : 'unit_of_Measure_(Per_Pack)',
    'Line Item Quantity' : 'line_Item_Quantity', 
    'Line Item Value' : 'line_Item_Value',
    'Pack Price' : 'pack_Price',
    'Unit Price' : 'unit_Price',
    'Manufacturing Site' : 'manufacturing_Site',
    'First Line Designation' : 'first_Line_Designation',
    'Weight (Kilograms)' : 'weight_in_kg',
    'Freight Cost (USD)' : 'freight_Cost_USD',
    'Line Item Insurance (USD)' : 'line_Item_Insurance_(USD)'
    
},inplace = True)

df.manufacturing_Site.replace({"MSD Midrand, J'burg, SA" : 'MSD Midrand'},inplace=True)

In [8]:
data.rename(columns={
    'Fulfill Via' : 'fulfill_Via',
    'Vendor INCO Term' : 'vendor_INCO_Term',
    'Shipment Mode' : 'shipment_Mode',
    'Item Description' : 'item_description',
    'Sub Classification' : 'sub_Classification',
    'Unit of Measure (Per Pack)' : 'unit_of_Measure_(Per_Pack)',
    'Line Item Quantity' : 'line_Item_Quantity', 
    'Line Item Value' : 'line_Item_Value',
    'Pack Price' : 'pack_Price',
    'Unit Price' : 'unit_Price',
    'Manufacturing Site' : 'manufacturing_Site',
    'First Line Designation' : 'first_Line_Designation',
    'Weight (Kilograms)' : 'weight_in_kg',
    'Freight Cost (USD)' : 'freight_Cost_USD',
    'Line Item Insurance (USD)' : 'line_Item_Insurance_(USD)'
    
},inplace = True)

data.manufacturing_Site.replace({"MSD Midrand, J'burg, SA" : 'MSD Midrand'},inplace=True)

# 4. Checking the missing values

In [9]:
df.isna().sum()

ID                               0
ASN/DN #                         0
Country                          0
shipment_Mode                  360
item_description                 0
Brand                            0
Dosage                        1736
unit_of_Measure_(Per_Pack)       0
line_Item_Quantity               0
line_Item_Value                  0
pack_Price                       0
unit_Price                       0
manufacturing_Site               0
first_Line_Designation           0
weight_in_kg                     0
freight_Cost_USD                 0
line_Item_Insurance_(USD)      287
dtype: int64

In [10]:
missing_val = pd.isnull(df['shipment_Mode'])

#### Dealing with the missing values in the shipment_mode

-> Here we are dealing with missing values on the basics of the manufacturing site

In [11]:
shipping_mode= df[missing_val]
#pd.set_option('display.max_rows',None)
shipping_mode.manufacturing_Site.value_counts()

Aurobindo Unit III, India               141
Cipla, Goa, India                        31
Aspen-OSD, Port Elizabeth, SA            15
Ranbaxy, Paonta Shahib, India            13
BMS Meymac, France                       13
ABBVIE (Abbott) Logis. UK                12
ABBVIE Ludwigshafen Germany              12
ABBVIE GmbH & Co.KG Wiesbaden            11
Trinity Biotech, Plc                     10
Mylan (formerly Matrix) Nashik            8
Bio-Rad Laboratories                      8
Roche Basel                               8
Inverness Japan                           8
Strides, Bangalore, India.                7
Gilead(Nycomed) Oranienburg DE            7
ABBVIE (Abbott) France                    5
MSD Elkton USA                            5
MSD Midrand                               5
Chembio Diagnostics Sys. Inc.             5
Standard Diagnostics, Korea               4
MSD, Haarlem, NL                          4
Roche Madrid                              3
GSK Aranda                                3
GSK Mississauga (Canada)                  3
BI, Ingelheim, Germany                    3
GSK Cape Town Factory (South Africa)      2
Pacific Biotech, Thailand                 2
Not Applicable                            2
Cipla, Patalganga, India                  2
MSD Manati, Puerto Rico, (USA)            2
MSD South Granville Australia             1
GSK Ware (UK)                             1
ABBVIE (Abbott) Japan Co. Ltd.            1
Hetero Unit III Hyderabad IN              1
GSK Crawley                               1
MSD Patheon, Canada                       1
Name: manufacturing_Site, dtype: int64

In [12]:
shipping_mode.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 16 to 2610
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          360 non-null    int64
 1   ASN/DN #                    360 non-null    object
 2   Country                     360 non-null    object
 3   shipment_Mode               0 non-null      object
 4   item_description            360 non-null    object
 5   Brand                       360 non-null    object
 6   Dosage                      309 non-null    object
 7   unit_of_Measure_(Per_Pack)  360 non-null    int64
 8   line_Item_Quantity          360 non-null    int64
 9   line_Item_Value             360 non-null    float64
 10  pack_Price                  360 non-null    float64
 11  unit_Price                  360 non-null    float64
 12  manufacturing_Site          360 non-null    object
 13  first_Line_Designation      360 non-null    object
 14  weight_in_kg                360 non-null    object
 15  freight_Cost_USD            360 non-null    object
 16  line_Item_Insurance_(USD)   254 non-null    float64
dtypes: float64(4), int64(3), object(10)
memory usage: 50.6+ KB

In [13]:
#Aurobindo Unit III, India
auro = shipping_mode.query('Country =="Zimbabwe" and  manufacturing_Site =="Aurobindo Unit III, India"')
auro1 = shipping_mode.query('Country =="Zimbabwe" and  manufacturing_Site =="Aurobindo Unit III, India"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing = auro

In [14]:
#Cipla, Goa, India
auro = shipping_mode.query('Country =="Zambia" and  manufacturing_Site =="Cipla, Goa, India"')
auro1 = shipping_mode.query('Country =="Zambia" and  manufacturing_Site =="Cipla, Goa, India"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

auro = shipping_mode.query('Country =="Nigeria" and  manufacturing_Site =="Cipla, Goa, India"')
auro1 = shipping_mode.query('Country =="Nigeria" and  manufacturing_Site =="Cipla, Goa, India"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Air Charter')
no_missing=no_missing.append(auro)
#shipping_mode.drop(auro,inplace=True)

In [15]:
#Strides, Bangalore, India.
auro = shipping_mode.query('Country =="Nigeria" and  manufacturing_Site =="Strides, Bangalore, India."')
auro1 = shipping_mode.query('Country =="Nigeria" and  manufacturing_Site =="Strides, Bangalore, India."').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Air Charter')
no_missing=no_missing.append(auro)

In [16]:
# GSK Mississauga (Canada)
auro = shipping_mode.query('Country =="South Africa" and  manufacturing_Site =="GSK Mississauga (Canada)"')
auro1 = shipping_mode.query('Country =="South Africa" and  manufacturing_Site =="GSK Mississauga (Canada)"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [17]:
# MSD Midrand
auro = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "MSD Midrand"')
auro1 = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "MSD Midrand"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [18]:
#BI, Ingelheim, Germany
auro = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "BI, Ingelheim, Germany"')
auro1 = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "BI, Ingelheim, Germany"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [19]:
# GSK Aranda
auro = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "GSK Aranda"')
auro1 = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "GSK Aranda"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [20]:
# GSK Cape Town Factory (South Africa)
auro = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "GSK Cape Town Factory (South Africa)"')
auro1 = shipping_mode.query('Country =="South Africa" and  manufacturing_Site == "GSK Cape Town Factory (South Africa)"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [21]:
#Cipla, Patalganga, India
auro = shipping_mode.query('Country =="Zambia" and  manufacturing_Site =="Cipla, Patalganga, India"')
auro1 = shipping_mode.query('Country =="Zambia" and  manufacturing_Site =="Cipla, Patalganga, India"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [22]:
#Cipla, Patalganga, India
auro = shipping_mode.query('Country =="Zambia" and  manufacturing_Site =="Hetero Unit III Hyderabad IN"')
auro1 = shipping_mode.query('Country =="Zambia" and  manufacturing_Site =="Hetero Unit III Hyderabad IN"').index
shipping_mode.drop(auro1,inplace=True)
auro.shipment_Mode = auro.shipment_Mode.fillna('Truck')
no_missing=no_missing.append(auro)

In [23]:
no_missing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 1028 to 2372
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          37 non-null     int64
 1   ASN/DN #                    37 non-null     object
 2   Country                     37 non-null     object
 3   shipment_Mode               37 non-null     object
 4   item_description            37 non-null     object
 5   Brand                       37 non-null     object
 6   Dosage                      37 non-null     object
 7   unit_of_Measure_(Per_Pack)  37 non-null     int64
 8   line_Item_Quantity          37 non-null     int64
 9   line_Item_Value             37 non-null     float64
 10  pack_Price                  37 non-null     float64
 11  unit_Price                  37 non-null     float64
 12  manufacturing_Site          37 non-null     object
 13  first_Line_Designation      37 non-null     object
 14  weight_in_kg                37 non-null     object
 15  freight_Cost_USD            37 non-null     object
 16  line_Item_Insurance_(USD)   30 non-null     float64
dtypes: float64(4), int64(3), object(10)
memory usage: 5.2+ KB

In [24]:
shipping_mode.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 16 to 2610
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          323 non-null    int64
 1   ASN/DN #                    323 non-null    object
 2   Country                     323 non-null    object
 3   shipment_Mode               0 non-null      object
 4   item_description            323 non-null    object
 5   Brand                       323 non-null    object
 6   Dosage                      272 non-null    object
 7   unit_of_Measure_(Per_Pack)  323 non-null    int64
 8   line_Item_Quantity          323 non-null    int64
 9   line_Item_Value             323 non-null    float64
 10  pack_Price                  323 non-null    float64
 11  unit_Price                  323 non-null    float64
 12  manufacturing_Site          323 non-null    object
 13  first_Line_Designation      323 non-null    object
 14  weight_in_kg                323 non-null    object
 15  freight_Cost_USD            323 non-null    object
 16  line_Item_Insurance_(USD)   224 non-null    float64
dtypes: float64(4), int64(3), object(10)
memory usage: 45.4+ KB

In [25]:
# Replacing the remaining missing values with Air
shipping_mode.shipment_Mode = shipping_mode.shipment_Mode.fillna('Air')

In [26]:
#appending shipment_mode dataframe and no_missing dataframe
shipping_mode = shipping_mode.append(no_missing)

In [27]:
shipping_mode.shipment_Mode.value_counts()

Air            323
Truck           30
Air Charter      7
Name: shipment_Mode, dtype: int64

In [28]:
df = df.dropna(subset=['shipment_Mode']) # dropping the missing values
df = df.append(shipping_mode)   # appending the shipment_mode dataframe to the main dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10324 entries, 0 to 2372
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          10324 non-null  int64
 1   ASN/DN #                    10324 non-null  object
 2   Country                     10324 non-null  object
 3   shipment_Mode               10324 non-null  object
 4   item_description            10324 non-null  object
 5   Brand                       10324 non-null  object
 6   Dosage                      8588 non-null   object
 7   unit_of_Measure_(Per_Pack)  10324 non-null  int64
 8   line_Item_Quantity          10324 non-null  int64
 9   line_Item_Value             10324 non-null  float64
 10  pack_Price                  10324 non-null  float64
 11  unit_Price                  10324 non-null  float64
 12  manufacturing_Site          10324 non-null  object
 13  first_Line_Designation      10324 non-null  object
 14  weight_in_kg                10324 non-null  object
 15  freight_Cost_USD            10324 non-null  object
 16  line_Item_Insurance_(USD)   10037 non-null  float64
dtypes: float64(4), int64(3), object(10)
memory usage: 1.4+ MB

#### Weight

-> On checking weight_in_kg column we can see weight captured seperately and See ASN-7237 (ID#:50231). From this we should replace the weight by checking the ID.

In [29]:
# seprating data which is having weight captured seperately and with ID into different dataset.

wei_cap_sep = df.query('weight_in_kg == "Weight Captured Separately" ' )
wei_cap_sep1 = df.query('weight_in_kg == "Weight Captured Separately" ' ).index
df.drop(wei_cap_sep1,inplace=True)

In [30]:
wei_id = df.query('first_Line_Designation == "No"')
wei_id1 = df.query('first_Line_Designation == "No"').index
df.drop(wei_id1 ,inplace=True)

In [31]:
new = wei_id.weight_in_kg.str.split(':',expand=True)
new = new[1]
wei_id['weight_id'] = new
cols = ['weight_id']
for col in cols:
    wei_id[col] = wei_id[col].map(lambda x: str(x).rstrip(')'))
    
wei_id

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD),weight_id
8,46,ASN-93,Nigeria,Air,"Stavudine 30mg, capsules, 60 Caps",Generic,30mg,60,273,532.35,1.95,0.03,"Aurobindo Unit III, India",No,See ASN-93 (ID#:1281),See ASN-93 (ID#:1281),NaN,1281
86,961,ASN-3562,Vietnam,Air,"Lamivudine 150mg, tablets, 60 Tabs",Generic,150mg,60,21000,50400.00,2.40,0.04,"Aurobindo Unit III, India",No,See ASN-3562 (ID#:960),See ASN-3562 (ID#:960),98.78,960
94,1047,ASN-3675,Haiti,Air,"Didanosine 2g [Videx], powder for oral solutio...",Videx,2g,200,32,402.88,12.59,0.06,"BMS Meymac, France",No,See ASN-3675 (ID#:1046),See ASN-3675 (ID#:1046),0.79,1046
140,1299,ASN-242,Rwanda,Air,"Efavirenz 600mg, tablets, 30 Tabs",Generic,600mg,30,71577,1087970.40,15.20,0.51,"Cipla, Goa, India",No,See ASN-242 (ID#:64),See ASN-242 (ID#:64),NaN,64
141,1300,ASN-242,Rwanda,Air,"Abacavir 300mg, tablets, 60 Tabs",Generic,300mg,60,5605,202340.50,36.10,0.60,"Cipla, Patalganga, India",No,See ASN-242 (ID#:64),See ASN-242 (ID#:64),NaN,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089,12064,DN-172,Nigeria,Air Charter,"Lamivudine/Nevirapine/Stavudine 150/200/30mg, ...",Generic,150/200/30mg,60,1799,13492.50,7.50,0.12,"Cipla, Goa, India",No,See DN-172 (ID#:10566),See DN-172 (ID#:10566),NaN,10566
1232,10833,DN-172,Nigeria,Air Charter,"Nevirapine 200mg, tablets, 60 Tabs",Generic,200mg,60,1198,4276.86,3.57,0.06,"Strides, Bangalore, India.",No,See DN-172 (ID#:10566),See DN-172 (ID#:10566),NaN,10566
1450,11133,DN-190,Nigeria,Air Charter,"Stavudine 30mg, capsules, 60 Caps",Generic,30mg,60,700,1064.00,1.52,0.03,"Strides, Bangalore, India.",No,See DN-190 (ID#:10570),See DN-190 (ID#:10570),1.70,10570
1891,11798,DN-384,Zambia,Truck,"Abacavir 300mg, tablets, 60 Tabs",Generic,300mg,60,2489,68522.17,27.53,0.46,"Cipla, Patalganga, India",No,See DN-384 (ID#:10901),See DN-384 (ID#:10901),109.64,10901
2372,12492,DN-625,Zambia,Truck,"Nevirapine 200mg, tablets, 60 Tabs",Generic,200mg,60,40000,136000.00,3.40,0.06,Hetero Unit III Hyderabad IN,No,See DN-625 (ID#:10956),See DN-625 (ID#:10956),217.60,10956

In [32]:
# creating a string of ID
lst = ''

for i in wei_id.weight_id:
    lst = i + ',' + lst

In [33]:
new_lst = lst.split(',') # splitting id to convert into a list
new_lst = pd.to_numeric(new_lst)
df_new = data[data.ID.isin(new_lst)]
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1299 entries, 4 to 10310
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            1299 non-null   int64
 1   Project Code                  1299 non-null   object
 2   PQ #                          1299 non-null   object
 3   PO / SO #                     1299 non-null   object
 4   ASN/DN #                      1299 non-null   object
 5   Country                       1299 non-null   object
 6   Managed By                    1299 non-null   object
 7   fulfill_Via                   1299 non-null   object
 8   vendor_INCO_Term              1299 non-null   object
 9   shipment_Mode                 1244 non-null   object
 10  PQ First Sent to Client Date  1299 non-null   object
 11  PO Sent to Vendor Date        1299 non-null   object
 12  Scheduled Delivery Date       1299 non-null   object
 13  Delivered to Client Date      1299 non-null   object
 14  Delivery Recorded Date        1299 non-null   object
 15  Product Group                 1299 non-null   object
 16  sub_Classification            1299 non-null   object
 17  Vendor                        1299 non-null   object
 18  item_description              1299 non-null   object
 19  Molecule/Test Type            1299 non-null   object
 20  Brand                         1299 non-null   object
 21  Dosage                        1189 non-null   object
 22  Dosage Form                   1299 non-null   object
 23  unit_of_Measure_(Per_Pack)    1299 non-null   int64
 24  line_Item_Quantity            1299 non-null   int64
 25  line_Item_Value               1299 non-null   float64
 26  pack_Price                    1299 non-null   float64
 27  unit_Price                    1299 non-null   float64
 28  manufacturing_Site            1299 non-null   object
 29  first_Line_Designation        1299 non-null   object
 30  weight_in_kg                  1299 non-null   object
 31  freight_Cost_USD              1299 non-null   object
 32  line_Item_Insurance_(USD)     1259 non-null   float64
dtypes: float64(4), int64(3), object(26)
memory usage: 345.0+ KB

In [34]:
a = df_new[['ID','weight_in_kg','freight_Cost_USD']].set_index('ID',drop=True)

In [35]:
wei_id.weight_id = pd.to_numeric(wei_id.weight_id)
b = wei_id[['weight_id']].set_index(['weight_id']).sort_values(by=['weight_id'],ascending=True)

In [36]:
res = pd.concat([b,a],axis=1,join='inner')
res.reset_index(inplace=True)
res.columns = ['weight_id','weight_in_kg','freight_Cost_USD']
#res.set_index(['weight_id'],inplace=True)
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445 entries, 0 to 2444
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   weight_id         2445 non-null   int64
 1   weight_in_kg      2445 non-null   object
 2   freight_Cost_USD  2445 non-null   object
dtypes: int64(1), object(2)
memory usage: 57.4+ KB

In [37]:
wei_id.drop(columns=['weight_in_kg', 'freight_Cost_USD'],inplace=True)
wei_id.sort_values(by=['weight_id'],ascending=True,inplace=True)

In [38]:
wei_id.reset_index(inplace=True)
wei_id['weight_in_kg'] = res[['weight_in_kg']] #adding a new column
wei_id['freight_Cost_USD'] = res['freight_Cost_USD'] # adding a new column

In [39]:
wei_id.drop(columns=['index','weight_id'],inplace=True)
wei_id

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,line_Item_Insurance_(USD),weight_in_kg,freight_Cost_USD
0,2657,ASN-55,Vietnam,Air,"Lamivudine/Zidovudine 150/300mg, tablets, 60 Tabs",Generic,150/300mg,60,20000,338000.00,16.90,0.28,"Aurobindo Unit III, India",No,NaN,7590,45450.08
1,2656,ASN-55,Vietnam,Air,"Nevirapine 200mg, tablets, 60 Tabs",Generic,200mg,60,35000,152250.00,4.35,0.07,"Aurobindo Unit III, India",No,NaN,7590,45450.08
2,5253,ASN-57,Nigeria,Air,"Nevirapine 10mg/ml, oral suspension, Bottle, 2...",Generic,10mg/ml,240,416,2579.20,6.20,0.03,"Aurobindo Unit III, India",No,NaN,504,5920.42
3,2662,ASN-57,Nigeria,Air,"Lamivudine 150mg, tablets, 60 Tabs",Generic,150mg,60,486,2041.20,4.20,0.07,"Aurobindo Unit III, India",No,NaN,504,5920.42
4,2661,ASN-57,Nigeria,Air,"Lamivudine 10mg/ml, oral solution, Bottle, 240 ml",Generic,10mg/ml,240,416,1809.60,4.35,0.02,"Aurobindo Unit III, India",No,NaN,504,5920.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440,86276,DN-1679,Mozambique,Truck,"Lamivudine/Stavudine 150/30mg, tablets, 60 Tabs",Generic,150/30mg,60,1340,4556.00,3.40,0.06,"Cipla, Goa, India",No,9.82,1401,4764.16
2441,86291,DN-1768,Tanzania,Air,"Nevirapine 200mg, tablets, 60 Tabs",Generic,200mg,60,3529,9634.17,2.73,0.05,"Cipla, Goa, India",No,20.77,699,3952.34
2442,86552,DN-3027,Nigeria,Air Charter,Emtricitabine/Tenofovir Disoproxil Fumarate 20...,Generic,200/300mg,30,52546,318954.22,6.07,0.20,Hetero Unit III Hyderabad IN,No,447.17,12046,37242.5
2443,86585,DN-3230,Mozambique,Truck,Efavirenz/Lamivudine/Tenofovir Disoproxil Fuma...,Generic,600/300/300mg,30,1000,10520.00,10.52,0.35,Mylan (formerly Matrix) Nashik,No,13.01,Weight Captured Separately,Invoiced Separately
2444,86809,DN-4259,Uganda,Truck,"Lamivudine/Nevirapine/Zidovudine 30/50/60mg, d...",Generic,30/50/60mg,60,29287,105433.20,3.60,0.06,"Strides, Bangalore, India.",No,124.09,2253,3785.72

In [40]:
# seperating 'Weight Captured Separately'
wei_cap = wei_id.query('weight_in_kg == "Weight Captured Separately" ' )
wei_cap_sep = wei_cap_sep.append(wei_cap,ignore_index=False) # appending wei_cap to wei_cap_sep

In [41]:
#removing wei_cap from wei_id
wei_cap1 = wei_id.query('weight_in_kg == "Weight Captured Separately" ' ).index
wei_id.drop(wei_cap1,inplace=True)
wei_id # operation is sucessful

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,line_Item_Insurance_(USD),weight_in_kg,freight_Cost_USD
0,2657,ASN-55,Vietnam,Air,"Lamivudine/Zidovudine 150/300mg, tablets, 60 Tabs",Generic,150/300mg,60,20000,338000.00,16.90,0.28,"Aurobindo Unit III, India",No,NaN,7590,45450.08
1,2656,ASN-55,Vietnam,Air,"Nevirapine 200mg, tablets, 60 Tabs",Generic,200mg,60,35000,152250.00,4.35,0.07,"Aurobindo Unit III, India",No,NaN,7590,45450.08
2,5253,ASN-57,Nigeria,Air,"Nevirapine 10mg/ml, oral suspension, Bottle, 2...",Generic,10mg/ml,240,416,2579.20,6.20,0.03,"Aurobindo Unit III, India",No,NaN,504,5920.42
3,2662,ASN-57,Nigeria,Air,"Lamivudine 150mg, tablets, 60 Tabs",Generic,150mg,60,486,2041.20,4.20,0.07,"Aurobindo Unit III, India",No,NaN,504,5920.42
4,2661,ASN-57,Nigeria,Air,"Lamivudine 10mg/ml, oral solution, Bottle, 240 ml",Generic,10mg/ml,240,416,1809.60,4.35,0.02,"Aurobindo Unit III, India",No,NaN,504,5920.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2439,86204,DN-4273,Nigeria,Air Charter,Efavirenz/Lamivudine/Tenofovir Disoproxil Fuma...,Generic,600/300/300mg,30,59500,571200.00,9.60,0.32,Hetero Unit III Hyderabad IN,No,587.19,26861,53937
2440,86276,DN-1679,Mozambique,Truck,"Lamivudine/Stavudine 150/30mg, tablets, 60 Tabs",Generic,150/30mg,60,1340,4556.00,3.40,0.06,"Cipla, Goa, India",No,9.82,1401,4764.16
2441,86291,DN-1768,Tanzania,Air,"Nevirapine 200mg, tablets, 60 Tabs",Generic,200mg,60,3529,9634.17,2.73,0.05,"Cipla, Goa, India",No,20.77,699,3952.34
2442,86552,DN-3027,Nigeria,Air Charter,Emtricitabine/Tenofovir Disoproxil Fumarate 20...,Generic,200/300mg,30,52546,318954.22,6.07,0.20,Hetero Unit III Hyderabad IN,No,447.17,12046,37242.5
2444,86809,DN-4259,Uganda,Truck,"Lamivudine/Nevirapine/Zidovudine 30/50/60mg, d...",Generic,30/50/60mg,60,29287,105433.20,3.60,0.06,"Strides, Bangalore, India.",No,124.09,2253,3785.72

In [42]:
df = df.append(wei_id) # sucessfully appended (note:'Freight Included in Commodity Cost' in the freight_Cost_USD column shold be replaced) )

In [43]:
wei_cap_sep

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD)
12,62,ASN-144,Nigeria,Air,"HIV 1/2, InstantChek HIV 1+2 Kit, 100 Tests",InstantCHEK,NaN,100,10,850.00,85.00,0.85,"EY Laboratories, USA",Yes,Weight Captured Separately,Invoiced Separately,NaN
15,68,ASN-285,Zimbabwe,Air,"#102198**Didanosine 200mg [Videx], tablets, 60...",Videx,200mg,60,579,14764.50,25.50,0.42,"BMS Meymac, France",Yes,Weight Captured Separately,Freight Included in Commodity Cost,NaN
35,305,ASN-1269,Nigeria,Air,"HIV, Lancet, Safety, for HIV Test kits, 100 Pcs",Generic,NaN,100,650,6.50,0.01,0.00,Inverness Japan,Yes,Weight Captured Separately,Invoiced Separately,0.01
37,361,ASN-1318,Haiti,Air,"HIV 1/2, Capillus HIV Kit, 100 Tests",Capillus,NaN,100,2,278.00,139.00,1.39,"Trinity Biotech, Plc",Yes,Weight Captured Separately,Invoiced Separately,0.44
40,398,ASN-1502,Guyana,Air,"HIV, Lancet, Safety, for HIV Test kits, 100 Pcs",Generic,NaN,100,240,2.40,0.01,0.00,Inverness Japan,Yes,Weight Captured Separately,Invoiced Separately,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2149,84475,DN-4283,"Congo, DRC",Air,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,14329,110619.88,7.72,0.13,Hetero Unit III Hyderabad IN,No,Weight Captured Separately,Invoiced Separately,130.20
2344,86603,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,160000,1372800.00,8.58,0.14,"Aurobindo Unit III, India",No,Weight Captured Separately,41352.75,1698.15
2345,86602,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,7456,63972.48,8.58,0.14,Mylan (formerly Matrix) Nashik,No,Weight Captured Separately,41352.75,79.13
2346,85399,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,80000,686400.00,8.58,0.14,"Strides, Bangalore, India.",No,Weight Captured Separately,41352.75,849.08
2443,86585,DN-3230,Mozambique,Truck,Efavirenz/Lamivudine/Tenofovir Disoproxil Fuma...,Generic,600/300/300mg,30,1000,10520.00,10.52,0.35,Mylan (formerly Matrix) Nashik,No,Weight Captured Separately,Invoiced Separately,13.01

In [44]:
wei_cap_sep.replace('Freight Included in Commodity Cost',np.nan,inplace=True)
wei_cap_sep.replace('Invoiced Separately',np.nan,inplace=True)

In [45]:
# Replacing freight_cost_USD column with line_item_Value. 
# Invoiced seperately is assumed as similar to line_item_value.
wei_cap_sep.freight_Cost_USD.fillna(wei_cap_sep.line_Item_Value,inplace=True)

In [46]:
wei_cap_sep

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD)
12,62,ASN-144,Nigeria,Air,"HIV 1/2, InstantChek HIV 1+2 Kit, 100 Tests",InstantCHEK,NaN,100,10,850.00,85.00,0.85,"EY Laboratories, USA",Yes,Weight Captured Separately,850,NaN
15,68,ASN-285,Zimbabwe,Air,"#102198**Didanosine 200mg [Videx], tablets, 60...",Videx,200mg,60,579,14764.50,25.50,0.42,"BMS Meymac, France",Yes,Weight Captured Separately,14764.5,NaN
35,305,ASN-1269,Nigeria,Air,"HIV, Lancet, Safety, for HIV Test kits, 100 Pcs",Generic,NaN,100,650,6.50,0.01,0.00,Inverness Japan,Yes,Weight Captured Separately,6.5,0.01
37,361,ASN-1318,Haiti,Air,"HIV 1/2, Capillus HIV Kit, 100 Tests",Capillus,NaN,100,2,278.00,139.00,1.39,"Trinity Biotech, Plc",Yes,Weight Captured Separately,278,0.44
40,398,ASN-1502,Guyana,Air,"HIV, Lancet, Safety, for HIV Test kits, 100 Pcs",Generic,NaN,100,240,2.40,0.01,0.00,Inverness Japan,Yes,Weight Captured Separately,2.4,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2149,84475,DN-4283,"Congo, DRC",Air,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,14329,110619.88,7.72,0.13,Hetero Unit III Hyderabad IN,No,Weight Captured Separately,110620,130.20
2344,86603,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,160000,1372800.00,8.58,0.14,"Aurobindo Unit III, India",No,Weight Captured Separately,41352.75,1698.15
2345,86602,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,7456,63972.48,8.58,0.14,Mylan (formerly Matrix) Nashik,No,Weight Captured Separately,41352.75,79.13
2346,85399,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,80000,686400.00,8.58,0.14,"Strides, Bangalore, India.",No,Weight Captured Separately,41352.75,849.08
2443,86585,DN-3230,Mozambique,Truck,Efavirenz/Lamivudine/Tenofovir Disoproxil Fuma...,Generic,600/300/300mg,30,1000,10520.00,10.52,0.35,Mylan (formerly Matrix) Nashik,No,Weight Captured Separately,10520,13.01

In [47]:
# Replacing freight_cost_USD column with line_item_Value in the main dataframe.
df.replace('Freight Included in Commodity Cost',np.nan,inplace=True)
df.replace('Invoiced Separately',np.nan,inplace=True)
df.freight_Cost_USD.fillna(df.line_Item_Value,inplace=True)

""""
#we are assuming that weight_in_kg is propotional to freight_cost_USD.
#ie. when the weight increases the cost also increses.
""""

In [48]:
df.weight_in_kg = pd.to_numeric(df.weight_in_kg)
q1 = df.weight_in_kg.quantile(0.25)
q2 = df.weight_in_kg.quantile(0.50)
q3= df.weight_in_kg.quantile(0.75)
q4=df.weight_in_kg.quantile(0.1)
q1,q2,q3,q4

(275.0, 1303.0, 4364.0, 58.0)

In [49]:
df.freight_Cost_USD = pd.to_numeric(df.freight_Cost_USD)
f1 = df.freight_Cost_USD.quantile(0.25)
f2 = df.freight_Cost_USD.quantile(0.50)
f3= df.freight_Cost_USD.quantile(0.75)

f1,f2,f3

(2666.9350000000004, 6933.75, 16083.32)

In [50]:
df.weight_in_kg.describe()

count      8691.000000
mean       4464.293407
std       13372.409407
min           0.000000
25%         275.000000
50%        1303.000000
75%        4364.000000
max      857354.000000
Name: weight_in_kg, dtype: float64

In [51]:
df.freight_Cost_USD.describe()

count    8.691000e+03
mean     1.704057e+04
std      6.607540e+04
min      7.500000e-01
25%      2.666935e+03
50%      6.933750e+03
75%      1.608332e+04
max      2.826230e+06
Name: freight_Cost_USD, dtype: float64

In [52]:
a = df[df.freight_Cost_USD >= 16083.32]
a.weight_in_kg.describe()

count      2174.000000
mean      10353.384545
std       14533.933613
min           1.000000
25%        2394.750000
50%        5057.000000
75%       11969.000000
max      112027.000000
Name: weight_in_kg, dtype: float64

In [53]:
df.freight_Cost_USD

0         780.34
1        4521.50
2        1653.78
3       16007.06
4       45450.08
          ...
2439    53937.00
2440     4764.16
2441     3952.34
2442    37242.50
2444     3785.72
Name: freight_Cost_USD, Length: 8691, dtype: float64

'''
WEIGHT ASSUMPTION:

        USD             WEIGHT
     0  - 2666            275
     
    2666 - 6933            1303
   
    6933 - 16083           4364
   
    > 16083                11969
    
'''

In [54]:
#wei_cap_sep.weight_in_kg = pd.to_numeric(wei_cap_sep.weight_in_kg)
wei_cap_sep.freight_Cost_USD = pd.to_numeric(wei_cap_sep.freight_Cost_USD)

In [55]:
a = wei_cap_sep[(wei_cap_sep.freight_Cost_USD >=0) & (wei_cap_sep.freight_Cost_USD <=2666)].replace('Weight Captured Separately','275')
b = wei_cap_sep[(wei_cap_sep.freight_Cost_USD >=2666) & (wei_cap_sep.freight_Cost_USD <=6933)].replace('Weight Captured Separately','1303')
c = wei_cap_sep[(wei_cap_sep.freight_Cost_USD >=6933) & (wei_cap_sep.freight_Cost_USD <=16083)].replace('Weight Captured Separately','4364')
d = wei_cap_sep[(wei_cap_sep.freight_Cost_USD >= 16083)].replace('Weight Captured Separately','11969')

In [56]:
a = a.append(b)
a = a.append(c)
a = a.append(d)
wei_cap_sep = a
wei_cap_sep

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD)
12,62,ASN-144,Nigeria,Air,"HIV 1/2, InstantChek HIV 1+2 Kit, 100 Tests",InstantCHEK,NaN,100,10,850.00,85.00,0.85,"EY Laboratories, USA",Yes,275,850.00,NaN
35,305,ASN-1269,Nigeria,Air,"HIV, Lancet, Safety, for HIV Test kits, 100 Pcs",Generic,NaN,100,650,6.50,0.01,0.00,Inverness Japan,Yes,275,6.50,0.01
37,361,ASN-1318,Haiti,Air,"HIV 1/2, Capillus HIV Kit, 100 Tests",Capillus,NaN,100,2,278.00,139.00,1.39,"Trinity Biotech, Plc",Yes,275,278.00,0.44
40,398,ASN-1502,Guyana,Air,"HIV, Lancet, Safety, for HIV Test kits, 100 Pcs",Generic,NaN,100,240,2.40,0.01,0.00,Inverness Japan,Yes,275,2.40,0.00
47,422,ASN-1665,South Africa,Truck,"Saquinavir 200mg [Invirase], capsules, 270 Caps",Invirase,200mg,270,6,405.06,67.51,0.25,Roche Basel,Yes,275,405.06,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2148,86207,DN-4283,"Congo, DRC",Air,"Efavirenz 600mg, tablets, 30 Tabs",Generic,600mg,30,9800,30576.00,3.12,0.10,"Strides, Bangalore, India.",No,11969,30576.00,35.99
2149,84475,DN-4283,"Congo, DRC",Air,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,14329,110619.88,7.72,0.13,Hetero Unit III Hyderabad IN,No,11969,110619.88,130.20
2344,86603,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,160000,1372800.00,8.58,0.14,"Aurobindo Unit III, India",No,11969,41352.75,1698.15
2345,86602,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,7456,63972.48,8.58,0.14,Mylan (formerly Matrix) Nashik,No,11969,41352.75,79.13
2346,85399,DN-3324,Nigeria,Air Charter,Lamivudine/Nevirapine/Zidovudine 150/200/300mg...,Generic,150/300/200mg,60,80000,686400.00,8.58,0.14,"Strides, Bangalore, India.",No,11969,41352.75,849.08

-> sucessfully cleaned weight_in_kg column along with freight_cost_USD

In [57]:
# Appending wei_cap_sep into main dataframe df
df = df.append(wei_cap_sep)

In [58]:
# Replacing Nan values in Line_item_Insurance with zero
df['line_Item_Insurance_(USD)'] = df['line_Item_Insurance_(USD)'].fillna(0)

-> Sucessfully replaced Nan values with 0

##### Cross checking the original dataset with the cleaned dataset.

In [59]:
data.query('ID == "4"')

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,fulfill_Via,vendor_INCO_Term,shipment_Mode,...,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD)
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,CÃ´te d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.0,0.8,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,NaN

In [60]:
df.query('ID == "4"')

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD)
2,4,ASN-14,CÃ´te d'Ivoire,Air,"HIV 1/2, Determine Complete HIV Kit, 100 Tests",Determine,NaN,100,500,40000.0,80.0,0.8,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,0.0

-> Cross check is suscessfull. Both the dataset is having same number of rows and a randomly choosed ID from the both dataset has the same info

In [61]:
# Replacing Manuacturing sites with corresponding countries for better understanding
df.manufacturing_Site.replace({
    'Aurobindo Unit III, India'   : 'India',
    'Mylan (formerly Matrix) Nashik' : 'India',
    'Hetero Unit III Hyderabad IN' : 'India',
    'Cipla, Goa, India'           : 'India',
    'Strides, Bangalore, India.'  : 'India',
    'Alere Medical Co., Ltd.'     : 'Japan',
    'Trinity Biotech, Plc'        : 'Ireland',
    'ABBVIE Ludwigshafen Germany' : 'Germany',
    'Inverness Japan'             : 'Japan',
    'ABBVIE (Abbott) Logis. UK'   : 'UK',
    'BMS Meymac, France'          : 'France',
    'Aspen-OSD, Port Elizabeth, SA' : 'South Africa',
    'Chembio Diagnostics Sys. Inc.' : 'US',
    'MSD, Haarlem, NL'              : 'Netherlands',
    'Standard Diagnostics, Korea'   : 'Korea',
    'Aurobindo Unit VII, IN'        : 'India',
    'KHB Test Kit Facility, Shanghai China' : 'China',
    'Emcure Plot No.P-2, I.T-B.T. Park, Phase II, MIDC, Hinjwadi, Pune, India' : 'India',
    'GSK Mississauga (Canada)'      : 'Canada',
    'Janssen-Cilag, Latina, IT'     : 'Italy',
    'Micro labs, Verna, Goa, India' : 'India',
    'Cipla, Kurkumbh, India'        : 'India',
    'Roche Basel'                   : 'Switzerland',
    'Hetero, Jadcherla, unit 5, IN' : 'India',
    'Cipla, Patalganga, India'      : 'India',
    'Pacific Biotech, Thailand'     : 'Thailand',
    'Ranbaxy, Paonta Shahib, India' : 'India',
    'Bio-Rad Laboratories'          : 'US',
    'GSK Ware (UK)'                 : 'UK',
    'ABBVIE GmbH & Co.KG Wiesbaden' : 'Germany',
    'Gilead(Nycomed) Oranienburg DE': 'Switzerland',
    'Bristol-Myers Squibb Anagni IT' : 'Italy',
    'ABBVIE (Abbott) France'         : 'France',
    'Mylan,  H-12 & H-13, India'     : 'India',
    'MSD Midrand'                    : 'South Africa',
    'GSK Cape Town Factory (South Africa)' : 'South Africa',
    'Roche Madrid'                   : 'Spain',
    'Cipla Ltd A-42 MIDC Mahar. IN'  : 'India',
    'BMS Evansville, US'             : 'US',
    'Premier Med. Corp Ltd. India'   : 'India',
    'GSK Aranda'                     : 'Spain',
    'Boehringer Ing., Koropi, GR'    : 'Greece',
    'Not Applicable'                 : 'Not Applicable',
    'Orasure Technologies, Inc USA'  : 'US',
    'BI, Ingelheim, Germany'         : 'Germany',
    'MSD Elkton USA'                 : 'US',
    'Ranbaxy per Shasun Pharma'      : 'India',
    'Inverness USA'                  : 'US',
    'MSD Manati, Puerto Rico, (USA)' : 'US',
    'Novartis Pharma Suffern, USA'   : 'US',
    'Macleods Daman Plant INDIA'     : 'India',
    'Micro Labs, Hosur, India'       : 'India',
    'GSK Crawley'                    : 'UK',
    "ABBVIE (Abbott) St. P'burg USA" : 'US',
    'Orasure Technologies, Inc'      : 'US',
    'Boehringer Ingelheim Roxane US' : 'US',
    'bioLytical Laboratories'        : 'Canada',
    'Novartis Pharma AG, Switzerland': 'Switzerland',
    'Micro Labs Ltd. (Brown & Burk), India' : 'India',
    'Ipca Dadra/Nagar Haveli IN'     : 'India',
    'Human Diagnostic'               : 'UNKNOWN',
    'INVERNESS ANY'                  : 'US',
    'MSD Patheon, Canada'            : 'Canada',
    'GSK, U1, Poznan, Poland'        : 'Poland' ,
    'EY Laboratories, USA'           : 'US',
    'ABBVIE (Abbott) Japan Co. Ltd.' : 'Japan',
    'Medopharm Malur Factory, INDIA' : 'India',
    'Janssen Ortho LLC, Puerto Rico' : 'US',
    'Guilin OSD site, No 17, China'  : 'China',
    'Ranbaxy per Shasun Pharma Ltd'  : 'India',
    'MSD South Granville Australia'  : 'Australia',
    'Ranbaxy Fine Chemicals LTD'     : 'India',
    'ABBSP'                          : 'India',
    'Remedica, Limassol, Cyprus'     : 'Cyprus',
    'Weifa A.S., Hausmanngt. 6, P.O. Box 9113 GrÃƒÂ¸nland, 0133, Oslo, Norway' : 'Norway',
    'GSK Barnard Castle UK'          : 'UK',
    'Gland Pharma, Hyderabad, IN'    : 'India',
    'INVERNESS ORGENICS LINE'        : 'US',
    'MedMira Inc.'                   : 'Canada',
    'Meditab (for Cipla) Daman IN'   : 'India',
    'Medochemie Factory A, CY'       : 'Cyprus',
    'Gland Pharma Ltd Pally Factory' : 'India',
    'ABBVIE Labs North Chicago US'   : 'US',
    'BUNDI INTERNATIONAL DIAGNOSTICS LTD' :'Nigeria',
    'OMEGA Diagnostics, UK'          : 'UK',
    'Access BIO, L.C.'               : 'US',
    'Premier Medical Corporation'    : 'India',
    'Mepro Pharm Wadhwan Unit II'    : 'India'
   
},inplace=True)

In [62]:
#Replacing item_description into varies categories for better understanding
df.item_description.replace(df.item_description.values,df.item_description.str.split(' ').str[-1],inplace=True)
df.item_description.replace({
    'Tabs' : 'Tablets',
    'Tests': 'Test kits',
    'ml' : 'Bottled medicine',
    'Caps' : 'Capsule',
    'Vial' : 'Vial' ,
    'Vials': 'Vial',
    'Test' : 'Test kits',
    'Ampules' : 'Ampules',
    'Immuno-Blot)' : 'Test kits',
    '144g'  : 'Oral powder',
    'Pcs' : 'Test kits'
},inplace=True)

In [63]:
#df.to_excel('Cleaned file.xlsx')

In [64]:
df.head()

,ID,ASN/DN #,Country,shipment_Mode,item_description,Brand,Dosage,unit_of_Measure_(Per_Pack),line_Item_Quantity,line_Item_Value,pack_Price,unit_Price,manufacturing_Site,first_Line_Designation,weight_in_kg,freight_Cost_USD,line_Item_Insurance_(USD)
0,1,ASN-8,CÃ´te d'Ivoire,Air,Test kits,Reveal,NaN,30,19,551.0,29.00,0.97,India,Yes,13,780.34,0.0
1,3,ASN-85,Vietnam,Air,Bottled medicine,Generic,10mg/ml,240,1000,6200.0,6.20,0.03,India,Yes,358,4521.50,0.0
2,4,ASN-14,CÃ´te d'Ivoire,Air,Test kits,Determine,NaN,100,500,40000.0,80.00,0.80,Germany,Yes,171,1653.78,0.0
3,15,ASN-50,Vietnam,Air,Tablets,Generic,150mg,60,31920,127360.8,3.99,0.07,India,Yes,1855,16007.06,0.0
4,16,ASN-55,Vietnam,Air,Capsule,Generic,30mg,60,38000,121600.0,3.20,0.05,India,Yes,7590,45450.08,0.0